<% @sex = ['M', 'F'] %>
<h1><%= @patient.id ? "Edit Patient" : "Create a New Patient" %></h1>
<hr/>
<%= form_with(model: @patient, local: true, class: 'ui form' ) do |f| %>
<div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, required: true, autofocus: true, placeholder: "First Name" %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, required: true, placeholder: "Last Name" %>
  </div>
  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age, required: true, placeholder: "Age" %>
  </div>
  <div class="field">
    <%= f.label :sex %>
    <%= f.select :sex, @sex,  required: true %>
  </div>
  <%= f.submit nil, class: "ui secondary basic button" %>
<% end %>