<div class='patient_show'>
  <h1>First: <%= @patient.first_name %></h1>
  <h2>Last: <%= @patient.last_name %></h2>
  <h2>Age: <%= @patient.age %></h2>
  <h2>Sex: <%= @patient.sex %></h2>
<div class='crud_buttons'>
  <%= link_to 'Delete Patient', @patient, method: :delete, class:'ui negative basic button' %>
  <%= link_to 'Edit Patient', edit_patient_path(@patient), class: "ui primary basic button" %>
</div>
</div>
