<h1>Dr. <%= @doctor.name %>'s Appointments</h1>
<hr/>
<table class='ui celled table'>
  <% if @appts.any? %>
  <thead>
    <tr>
      <th>Patient Name</th>
      <th>Appointment Date</th>
      <th>Appointment Time</th>
      <th>Edit Appointment</th>
      <th>Delete Appointment</th>
    </tr>
  </thead>
  <tbody>
    <% @appts.each do |a| %>
    <tr>
      <td><b></b><%= a.patient.last_name %></b>, <%= a.patient.first_name %></td> 
      <td><%= a.date.strftime('%a, %b, %d, %Y') %></td>
      <td><%= a.time.strftime('%l:%M %p') %></td>
      <td><%= link_to 'Edit Appointment', edit_doctor_appt_path(@doctor, a.id), class: 'ui secondary basic button' %></td>
      <td><%= link_to 'Delete Appointment', doctor_appt_path(@doctor, a), method: :delete, class: 'ui negative basic button' %></td>
    </tr>
    <% end %>
  <% else %>
  <h1>No Appointments</h1>
  <h4>-  Please Add A New Appointment  -</h4>
  <%= link_to new_doctor_appt_path, id: 'card_button' do %>
<button class='basic large circular ui icon button'>
<i class='calendar check outline icon'></i>
</button>
    <% end %>
    <% end %>
  </tbody>
</table>