<nav>
  <div class='ui secondary five item menu'>
    <%= link_to 'Home', root_path, class: 'item', id: 'nav'%>
    <%= link_to 'Patients', patients_path, class: 'item', id: 'nav'%>
    <%= link_to 'New Patient', new_patient_path, class: 'item', id: 'nav'%>
    <%= link_to 'Doctors', doctors_path, class: 'item', id: 'nav'%>
    <%= link_to 'New Doctor', new_doctor_path, class: 'item', id: 'nav'%>
  </div>
</nav>